body {
  background-color: #777;
  color: #fff;
}

.add-task {
  background-color: #333;
  color: #fff;
}

.task-ctrl, .task-ctrl:focus {
  background-color: #333;
  color: #fff;
}

.task-ctrl::placeholder {
  color: #ccc;
  opacity: 1;
}

.tdl-button {
  padding: 0;
  border: none;
  background: none;
  font-size: 16pt;
}

.tdl-button:hover {
  background: none;
}

.tdl-check {
  color: darkgreen;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.tdl-check:hover {
  color: darkgreen;
}

.tdl-item-text {
  font-size: 14pt;
}
